body{
}




.header {
    position: static;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    background-color: rgb(14, 13, 13);
    box-shadow: 3px 3px 3px rgba(0,0,0,.15)
}

.title{
    display: flex;
    align-items: center;
    margin-left: 30px;
    font-size:30px;
    cursor: pointer;
    color: rgb(224, 212, 212);
}


.menu {
    display: flex;
    align-items: center;
}

.menu-item {
    display: inline-block;
    position: relative;
    margin: 5px 30px;
    font-size:20px;
    cursor: pointer;
    color:  rgb(224, 212, 212);
    text-decoration: none;

}
.menu-item:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:  rgb(224, 212, 212);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .menu-item:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }



.main-container{
    text-align: center;
       
}

.section-1{
    background-color: gray;
    position: relative;
    top:0px;
    left: 0;
    right: 0;
    height:700px;
    width: auto;
}

.home {  
    position: absolute;
    top:200px;
    left:400px;
    right: 400px;
    bottom: 200px;
    padding: 50px;
    border: 5px solid  rgb(14, 13, 13);
    text-align: center;
    color: rgb(14, 13, 13);
    

}
.section-2{
    background-color: cadetblue;
    position: relative;
    top:0px;
    left: 0;
    right: 0;
    height:750px;
    width: auto;
}
.experience {
    position: absolute;
    top: 100px;;
    left:20px;
    right:20px;
    bottom:100px;
    border: 5px solid  rgb(14, 13, 13);
    padding: 20px;
    margin:0px 350px;
    text-align: center;
    color: rgb(14, 13, 13);

}

.section-3{
    background-color: gray;
    position: relative;
    top:0px;
    left: 0;
    right: 0;
    height:750px;
    width: auto;
}

.education{
    position: absolute;
    top: 100px;;
    left:20px;
    right:20px;
    bottom:100px;
    
    border: 5px solid  rgb(14, 13, 13);
    padding: 50px;
    margin:0px 350px;
    text-align: center;
    color: rgb(14, 13, 13);
}

.section-4{
    background-color: cadetblue;
    position: relative;
    top:0px;
    left: 0;
    right: 0;
    height:800px;
    width: auto;
}
.contact{
    position: absolute;
    top: 50px;;
    left:20px;
    right:20px;
    bottom:50px;
    
    border: 5px solid  rgb(14, 13, 13);
    padding: 20px;
    margin:0px 350px;
    text-align:center;
    align-items: center;
    color: rgb(14, 13, 13);
}
.box1{
    padding:20px 100px;
    border-radius:25px;
    border:none;
    box-shadow:2px 2px 2px rgba(0, 0, 0, 0.15)
    }
.button {
    margin: 50px;
    padding:20px 50px;
    font-size:25px;
    border:none;
    border-radius:50px;
    background-color:rgb(224, 212, 212);
    color:  rgb(14, 13, 13);
    font-weight:bold;
    cursor: pointer;
}

.button:hover {
    color:rgb(224, 212, 212);
    background-color:   rgb(14, 13, 13);
    border:solid;
    border-radius:50px;
}  
  
.footer{
    text-align:right;
    background-color:  rgb(14, 13, 13);
    height: 100px;
}
.footer-item{
    color: rgb(224, 212, 212);
    font-size:25px;
    margin-right:40px;
    text-decoration: none;

}